parameters:
    paths:
        - "src"
        - "tests"
    level: 7

    # Doesn't work too well with IDE code completion
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
